@font-face {
    font-family: 'KOTRAHOPE';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


$villagers : 
'villager1' #FF791F #fff,
'villager2' #FFFFFF #333,
'villager3' #FFF80D #333,
'villager4' #55CFFF #fff,
'villager5' #F8E880 #333,
'villager6' #A06FCE #fff,
'villager7' #7A2500 #fff,
'villager8' #FCC7FF #333,
'villager9' #8BCDEA #333,
'villager10' #00D1BD #fff;
