@import './variables';
@import './utils';

.App {
    text-align: center;
    font-family: 'KOTRAHOPE';
}
  
.villager-list {
    list-style: none;
    display: flex;
    max-width: 500px;
    flex-wrap: wrap;
    margin: 0 auto;
    gap : 0 10px;
    .villager {
        width: 80px;
        cursor: pointer;
        @each $name, $bgcolor, $color in $villagers {
            &.#{$name} {
                .villager-img {
                    width: 100%;
                    overflow: hidden;
                    border : 1px solid transparent;
                    box-sizing: border-box;
                    @include listStyle($bgcolor, 50%);                    
                    margin: 0;
                    .img {
                        width: 100%;
                        margin: 0;
                    }
                }
                .villager-name {
                    text-align: center;
                    font-weight: 300;
                    font-size: 20px;
                    color : $color;
                    padding : 5px 10px;
                    @include listStyle($bgcolor, 20px);
                    &:hover {
                        box-shadow: 1px 1px 5px 1px #ccc;
                    }
                }
            }
        }
    }
}

.villager-info {
    .villager-img {
        height: 200px;
        img {
            height: 100%;
        }
    }
}
  